/**********************************引用字体图标******************************************/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome��firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 23px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/******************************主体容器****************************/
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;overflow: hidden;}
.container{width: 100%;/*overflow: auto;*/-webkit-overflow-scrolling: touch;height: 100%;position: relative ;}
/********************************头部******************************/
.header{height: 44px;line-height: 44px;z-index: 500;width: 100%;position: absolute;left: 0;top: 0;}

/*********************************中间内容********************************/
.content{height: 100%;width: 100%;overflow: auto;padding-bottom: 50px;padding-top: 44px;-webkit-overflow-scrolling: touch;}
.toolbar{height: 50px;line-height: 50px;width: 100%;position: absolute;z-index: 9999;left: 0;bottom: 0;}
/********************************工具栏******************************/
/*共用*/
.fl{float: left;}
.fr{float: right;}		
/********************************优惠券页面********************************/
.wait-content{background: #f9f9f9;}
/*tab栏*/
.tab{width: 100%;overflow:hidden;position: relative;background: #fff;}
.tab:after{content: "";display: block;width: 100%;height: 1px;background: #B0AAAA;position: absolute;bottom: 0;left: 0;-webkit-transform: scaleY(.5);transform: scaleY(.5);}
.tab a{display: block;float: left;text-align: center;height: 44px;line-height: 44px;color: #000;}
.col-33{width: 33.333333%;}
.col-25{width: 25%;}
.tab a.active{color: #4A90E2;position: relative;}
.tab a.active i{width: 50%;display: block;height: 4px;background-image: -webkit-linear-gradient(top,#D89A12,#DBD95F);background-image: linear-gradient(to bottom,#D89A12,#DBD95F);position: absolute;left: 25%;bottom: 0;}
/*优惠券*/
.coupon-card-list{padding: 0 10px;}
/*.coupon-card{background: url(../images/优惠券.png);background-size: 100% auto;color:#F7D1AA;background-repeat: no-repeat;height: 81px;margin-top: 10px;}*/
.coupon-card{position: relative;color:#F7D1AA;margin-top: 10px;}
.coupon-text{position: absolute;left: 0;top: 0;width: 100%;}
.card-left{width: 60%;text-align: center;}
.price{width: 25%;text-align: center;font-size: 17px; padding-top: 9%;}
h2{font-size: 17px;padding-top: 8%;}
.time{font-size: 14px;padding-top: 8px;}
@media only screen and (min-width: 359px) {
	h2{padding-top: 10%;}
	.price { padding-top: 10%;}
	}
@media only screen and (min-width: 413px) {
	h2{padding-top: 12%;}
	.price { padding-top: 11%;}
	}
	
/********************************待付款页面********************************/
/*列表*/
.wait-pay-list{margin-top: 10px;    overflow: hidden;}
.wait-pay-list li{overflow: hidden;padding: 10px 0;position: relative;min-height: 84px;background-color: #fff;border-bottom: solid 1px #f0eff5;}
.wait-pay-list li:first-child{border-top: solid 1px #f0eff5;}
.wait-pay-list li .item-img{width: 64px; height: 64px;position: absolute;top: 10px;left: 10px;}
.item-infro{font-size: 13px;color: #000;padding-left: 84px;width: 76%;line-height: 21px;min-height: 75px;}
.item-infro p:last-child{color: #9B9B9B;}
.item-num {font-size: 16px;color: #C78F00;width: 24%;text-align: center;line-height: 37px;}
.control{border: solid 1px #B9B9B9; border-radius: 5px;height: 24px;line-height: 20px;overflow: hidden;max-width: 72px;}
.control span {display: block;width: 33.333%;float: left;text-align: center;}
.control span:nth-child(2){color: #D0021B;height: 100%;border-left: solid 1px #B9B9B9;border-right: solid 1px #B9B9B9;}
.control span:first-child,.control span:last-child{color: #979797;}
.item-price span{margin-left: 5px;}
/*底部工具栏*/
.toolbar{background: #fff;}
.toolbar:before { content: ""; display: block;position: absolute;top: 0;left: 0;height: 4px;background-image: -webkit-linear-gradient(top,#D89A12,#DBD95F);background-image: linear-gradient(to bottom,#D89A12,#DBD95F);left: 0;width: 100%;z-index: 99;}
.toolbar-left{width: 75%;    padding-left: 17px;}
.toolbar span{color: #da374b; margin-right: 17px;}
.toolbar-right{display: block;background: #F56E23;color: #fff;    width: 25%;text-align: center;}
/********************************待发货页面********************************/
.send-list{box-shadow: 2px 2px 2px #d7d4d4; }
.send-list li{padding-bottom: 0; }
.item-amount{color: #000;height: 20px;line-height: 15px;padding-right: 21%;text-align: right;}
.tri{width: 100%;overflow: hidden;text-align: center;background-color:#fff;background-image:url(../images/tri.jpg);background-repeat: no-repeat; background-size: 18px 13px; background-position: center center;height: 25px;line-height: 21px;}
.tri.hide{background-image: url(../images/tri2.jpg);}
/********************************已发货页面********************************/
.send-list2{box-shadow: none;}
.send-list2 li {margin-bottom: 10px; box-shadow: 2px 2px 2px #d7d4d4;border-bottom: none;}
.wl{width: 100%;overflow: hidden;text-align: center;border-top: solid 1px #f0eff5;height: 30px;line-height: 30px;padding: 0 10px;}
.wl span,.wl a{font-size: 13px;color: #969494;}
.wl a{border: solid 1px #969494;border-radius: 5px;height: 20px;line-height: 20px;padding: 0 3px;margin-top: 5px;}
/********************************已完成页面********************************/
.item-title{font-size: 14px;height: 25px;line-height: 25px;background:#fff;width: 100%;padding-left:12px ;position: relative;padding-bottom: 5px;box-sizing:content-box;}
.item-title:after{position: absolute;content: "";display: block;width: 100%;height: 4px;bottom: 0;left: 0;background-image: -webkit-linear-gradient(top,#D89A12,#DBD95F);background-image: linear-gradient(to bottom,#D89A12,#DBD95F);}
.hide-list li{display: none;}
.hide-list li:first-child{display: block;}
/******************************购物车页面*********************************/
.cart-content{padding-top: 0;}
.cart-content .wait-pay-list{margin-top: 0;}
.toolbar-left{padding-left: 0;}
.toolbar-left label{ position: absolute;width: 75%;height: 50px;z-index: 10000;}
.toolbar-left input{-webkit-appearance: checkbox;display: none;}
.input-icon{border: solid 1px #C78F00;width: 18px;height: 18px;border-radius: 100%;display: block;margin: 16px 10px 0 10px;}
.toolbar-left input:checked+.input-icon{border-color:red;}
.cart-content .wait-pay-list li{position: relative;}
.cart-content .wait-pay-list li:first-child{border-top: none;}
.wait-pay-list .blue{width: 0;height: 0;border-top: 40px solid #4A90E2;border-right: 40px solid transparent;position: absolute;z-index: 1;left: 0;top: 0;}
.wait-pay-list li label{display: block;width: 10%;height: 65px;position: absolute;top: 0;left: 0;z-index: 4;}
.item-icon{border: solid 1px #fff;width: 15px;height: 15px;border-radius: 100%;display: block;position: absolute;top: 5px; left: 4px;z-index: 3;}
.wait-pay-list input[type="checkbox"]{-webkit-appearance: checkbox;display: none;}
.wait-pay-list input[type="checkbox"]:checked+.item-icon{background:url(../images/checkmark.png) no-repeat ;    background-size: 9px;
    background-position: center;}
